@import "tailwindcss";
@font-face {
    font-family: 'Circular';
    src: url('/fonts/CircularXXWeb-Light.deff12782ec6a96c.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('/fonts/CircularXXWeb-Book.83448020367fd123.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('/fonts/CircularXXWeb-Regular.46e43d6708c62346.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('/fonts/CircularXXWeb-Medium.1490e087b7bb4966.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

:root {
    --background: #ffffff;
    --foreground: #171717;
    --font-family: 'Circular', -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-family);
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@media (prefers-color-scheme: dark) {
     :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-family);
}